
html, body {
  margin:0px;
  padding:0px;
}

header {
  position:fixed;
  z-index: 1;
  width:100%;
  height: 120px;
  background:rgba(0,0,0,0.1);
}

main {
  min-height: 400px;
  background-color: #fff;
}

footer {
  height: 150px;
  background-color: #bdcbd9;
}

.wrapper {
  width: 980px;
  margin: auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}


/* ----- =logo ----- */

header h1 {
  float: left;
  font-size: 60px;
  margin: 0;
  padding-top: 40px;
  font-family: Arial, sans-serif;
  display: flexbox;
  justify-content: flex-start;
}


header h1 a {
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  color: red;
}


/* ----- =navigation ----- */

#top-nav {
  float: right;
  margin-top: 72px;
  display: flexbox;
  justify-content: center;
    font-size: 30px;
}

#top-nav ul {
  margin: 0;
  list-style: none;
}

#top-nav ul li {
  display: inline-block;
  margin-left: 30px;
  font-size: 60px;
}

#top-nav ul li a {

  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
}

#top-nav ul li a:hover {
  color: red;
}

#hero {
 background:url(https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#Left{
  clear: left;
  float: left;
  width: 250px;
}
#Rigth{
  clear: right;
  float: right;
  width: 250px;
}
.image{
  float: center;
  clear: center;
  
}
